footer {
    padding-top: 40px;
    padding-bottom: 20px;
}

.br {
    width: 100%;
    height: 1px;
    background-color: #706b6b;
    margin: 10px 0;
}

.footer-by {
    display: flex;
    justify-content: space-around;
}

.footer-by p {
    font-size: 17px;
    font-weight: 500;
    color: var(--title);
}

.footer-by span {
    font-weight: 800;
    cursor: pointer;
}

.social ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.social ul li {
    list-style: none;
    cursor: pointer;
    transition: 0.5s;
    line-height: 45px;
    font-size: 20px;
    padding: 10px;
    color: var(--title);
}

.social ul li:hover {
    background-color: var(--puplic-color);
    border-radius: 15px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}